<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      {% block choices %}
      <nav class="green-box">
        <ul>
          <li><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
      </nav>
      {% endblock %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; 2023 MySite</p>
    </footer>
  </body>
</html>

