{% extends 'base.html' %}

{% block title %}Choose your Role{% endblock %}

{% block content %}
  <div class="dashboard">
    <h1>Brau- und Getränketechnologie Praktikum</h1>
    <p>Bei der Sensorik wird unter Anwendung der menschlichen Sinnesorgane Produkte geprüft und bewertet.</p>
    <h2>Choose your Role</h2>
    
    <ul>
      <a href="{{ url_for('login') }}" class="professor-link">Professor</a>
      <span>&nbsp;&nbsp;or&nbsp;&nbsp;</span>
      <a href="{{ url_for('register') }}" class="student-link">Student</a>
    </ul>
  </div>
{% endblock %}
