<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible"
        content = "IE=edge">
        <meta name = "viewport"
        content = "width = device-width, initial-scale=1.0">
        <style>
        .bonbon {
          width: 13em;
          height: 2em;
          font-size: 1.25em;
          background: linear-gradient(to bottom, white, yellow);
          box-shadow: inset 0 0 .3em #fff, inset 0 -1px .3em #fff;
          border: thin solid #5ea617;
          border-radius: 1em;
          margin: 1em;
          }
          </style>

      <title>Brau- und Getränketechnologie Praktikum</title>
    </head>
    
    <body>
        <br>
      <font color = "green"><h1 align="center" color >Brau- und Getränketechnologie </h1></font>
      <font color = "green"><h2 align="center" color >Sensorik Praktikum </h2></font>
      <p align="center">Bei der Sensorik wird unter Anwendung der menschlichen Sinnesorgane Produkte geprüft und bewertet </p>
      <p align="center"> <button type="button" color = "green"><a href="{{ url_for('dashboard') }}" class="dashboard-link">Anmelden</a></button> </p>

    </body>
    
    </html> 