{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">{{ page_title }}</div>
          <div class="card-body">
            {% if training %}
              <p>You have been assigned to the {{ training }} training.</p>
              <p>
                <form action="{{ url_for('training_page', training=training) }}">
                  <button type="submit" class="btn btn-primary">Go to {{ training }}</button>
                </form>
              </p>              
            {% else %}
              <p>Please wait until a training is chosen by the professor.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  function check_training_assignment(training) {
    // AJAX request to check if student is assigned to a training
    $.ajax({
      url: "{{ url_for('check_training_assignment') }}",
      type: "GET",
      success: function(response) {
        if (response.training) {
          window.location.href = "{{ url_for('training_page', training='') }}".concat(response.training);
        }
      },
      error: function() {
        console.log('Error checking training assignment.');
      }
    });
  }

  // Check for training assignment every 5 seconds
  setInterval(function() {
    var training = '{{ training }}';
    check_training_assignment(training);
  }, 5000);
</script>

{% endblock %}
